<!--<form class="m-5">-->
<!--  <div class="form-group">-->
<!--    <label for="username">Kullanıcı Adı</label>-->
<!--    <input type="text" class="form-control" id="username" placeholder="Enter Username">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="password">Şifre</label>-->
<!--    <input type="password" class="form-control" id="password" placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="approve">-->
<!--    <label for="approve" class="form-check-label">Okudum, Onaylıyorum</label>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-primary">Kayıt Ol</button>-->
<!--</form>-->

<!--<mat-slider min="1" max="100" step="1" value="50"></mat-slider>-->

<!--<div class=”container”>-->
<!--  <button class=”btn btn-success”>Bootstrap Demo</button>-->
<!--</div>-->

<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()"></form>
    <mat-form-field class="one">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="two">
      <input matInput placeholder="Email" formControlName="email" >
    </mat-form-field>




  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
